<div class="contact-me--container">
    <div class="contact-me">
        <form action="/send-email" method="POST">
    <div class="name">
        <input type="text" name="nombre" placeholder="Nombre" class="contact-me--name">
    </div>
    <div class="affair">
        <input type="text" name="asunto" placeholder="Asunto" class="contact-me--affair">
    </div>
    <div class="correo">
        <input type="text" name="correo" placeholder="Correo" class="contact-me-container--correo" >
    </div>
    <div class="mensaje">
        <input type="text-area" name="mensaje" placeholder="Mensaje" class="contact-me-container--mensaje" >
    </div>

         

     <input type="submit" value="Enviar" class="submitButton">
     <input type="button" value="Limpiar" class="limpiar">
       
    </form>
</div>
</div>