
<header>
  <nav>
<ul class="nav-links">
   <li ><a class="about" [routerLink]="['/sobre-mi']">sobre mi</a></li>
   <li ><a class="proyect"[routerLink]="['/cargar-proyecto']">proyectos</a></li>
   <li ><a class="contact"[routerLink]="['/contacto']">contacto</a></li>
 </ul>

 <div class="burger">
  <div class="line1"></div>
  <div class="line2"></div> 
  <div class="line3"></div>
</div>
</nav>

</header>

<section class="page-home">
  <router-outlet></router-outlet>
</section>


<footer>
<div class="div-col1">
  <p>José Cardona &copy;</p>
  <p>cxrdonx</p>
</div>
  <div class="div-col2">
    <a>Linkedin</a>
    <p>Blog personal</p>
  </div>
</footer>
