@font-face{
     font-family: "";
     src:url();
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: work sans;
}
body{
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}

header{
    display: block;
    width: 100%;
    height: 75px;
    position: fixed;
    text-transform: uppercase;
    background-color: #161a1d;
}

header ul{
    display:block;
    width: 50%;
    height: inherit;
    margin: 0px auto;
    text-align: center;
    
}
header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header ul li a{
    display: block;
    height: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    color: whitesmoke;
    transition: all 400ms;
    padding-inline: 48px;
}


header a:hover{
       background: #6d00e1 ;
       color: whitesmoke;
}

.background-image{
     background-image: url('../images/backEnd.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
.page-home{
    
    width: 100%;
    margin: 0 auto;
    padding-top: 1px;
    background-color:#161a1d;
}

.animation{
    opacity: 0;
    transition: all 0.5s;
}

.about-container{
     width: 100%;
     height: 600px;
     margin: 72px auto;
     margin-bottom: 200px;
   
   
}

.about--presentation-container{
    
    margin-bottom: 200px;
    padding: 170px;
    text-align: center;
    margin-bottom: 415px;
    
}

.about--presentation-container .title{
     font-size: 2.5rem;
     font-weight: bold;
     font-weight: bold;
     color: whitesmoke;
     font-family: 'work sans' sans-serif;
}

.about--presentation-container .subtitle{
     font-size: 1rem;
     color: whitesmoke;
}

.aboutme--presentation-container{
    height: 1000px;
    margin-top: -200px;
    width: 100%;
     text-align:center;
        padding: 100px;
        background-color:#1e2326;

}
.aboutme--presentation-container .about-me{
    font-size: 1.9rem;
    margin-top: 100px;
    margin-bottom: 100px;
    color:whitesmoke;
    
}

.aboutme--presentation-container .about-me h2{
      font-size: 2.5rem;
}




.about-me--tools{
    width: 50%;
    height: 400px;
    display:fixed;
    border-left: #6d00e1 solid 3px;
    margin: 0px auto;
  padding: 50px;
    color:whitesmoke;
    background-color: #252A2E;
    box-shadow: 0px 18px 18px 0 rgba(0, 0, 0, 0.2);
    
}
.about-me--languages{
    width: 100%;
    display: inline-block;
    padding: 50px;
    height: 500px;
   
}

.about-me--languages p{
    text-align: center;

    font-size: 1.6rem;
    padding: 8px;
    
    
    
    
}
 .java{
    /* bacground-image: url(../assets/img/java.png); */
    border-bottom-color: #6d00e1 ;
  
}

.contact-me--container{
    width: 100%;
    height: 600px;
    display: flex;
}


.contact-me--container .contact-me{
      display: inline-block;
      margin: 0 auto;
}

.contact-me--container{
     margin-top: 250px;
     width: 100%;
     height: 550px;
     margin-bottom: -10px;
}




footer{
    width:100%;
    height: 130px;
    background-color: #111416;
    margin: 0px auto;
    padding-left: 100px;
    text-decoration: none;
    padding-top: 50px;
    font-size: 1.4rem;
    color:rgb(255, 255, 255);
    display: flex;
    ;
   
}

footer .div-col2{
    margin-left: 50px;
    
}