@font-face{
     font-family: "";
     src:url();
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: work sans;
}
body{
    background-attachment: fixed;
}
.clearfix{
    float: none;
    clear: both;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  
}

header{
    display: block;
    width: 100%;
    height: 75px;
    position: fixed;
    text-transform: uppercase;
    background-color: #161a1d;
}

header ul{
    display:block;
    width: 50%;
    height: inherit;
    margin: 0px auto;
    text-align: center;
    
}
header ul li{
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header ul li a{
    display: block;
    height: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    color: whitesmoke;
    transition: all 400ms;
    padding-inline: 48px;
}


header a:hover{
       background: #6d00e1 ;
       color: whitesmoke;
}

.background-image{
     background-image: url('../images/backEnd.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
.page-home{
    
    width: 100%;
    margin: 0 auto;
    padding-top: 1px;
    background-color:#1e2326;
}

.animation{
    opacity: 0;
    transition: all 0.5s;
}

.about-container{
     width: 100%;
     height: 600px;
     margin: 72px auto;
     margin-bottom: 200px;
   
   
}

.about--presentation-container{
    
    margin-bottom: 200px;
    padding: 170px;
    text-align: center;
    /*margin-bottom: 415px;*/
    
}

.about--presentation-container .title{
     font-size: 2.5rem;
     font-weight: bold;
     font-weight: bold;
     color: whitesmoke;
     font-family: 'work sans' sans-serif;
}

.about--presentation-container .subtitle{
     font-size: 1rem;
     color: whitesmoke;
}

.aboutme--presentation-container{
    height: 1000px;
    margin-top: -200px;
    width: 100%;
     text-align:center;
        padding: 100px;
        background-color:#1e2326;

}
.aboutme--presentation-container .about-me{
    font-size: 1.9rem;
    margin-top: 40px;
    margin-bottom: 100px;
    color:whitesmoke;
    
}

.aboutme--presentation-container .about-me h2{
      font-size: 2.5rem;
}




.about-me--tools{
 
    min-width: 20%;
    max-width: 50%;
    height: 400px;
    align-items: center;
    border-left: #6d00e1 solid 3px;
    margin: 0px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    color:whitesmoke;
    background-color: #252A2E;
    box-shadow: 0px 18px 18px 0 rgba(0, 0, 0, 0.2);
    
}
.about-me--languages{
    width: 100%;
    display: inline-block;
  
    height: 500px;
   
}

.about-me--languages p{
    text-align: center;

    font-size: 1.6rem;
    padding: 8px;
 
    
}
   .java{
      display: inline-block;
      width: 60px;
      margin: auto;
      height: 60px;
      background-image: url('../images/java.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
      cursor: pointer;
  }

  .github{
    display: inline-block;
    margin: 11px auto;
    width: 60px;
    height: 60px;
    background-image: url('../images/github.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    cursor: pointer;
    
}
.javascript{
    display: inline-block;
    margin: 11px auto;
    width: 60px;
    height: 60px;
    background-image: url('../images/javascript.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    cursor: pointer;
    

}

.contact-me--container{
    margin-top: 250px;
    width: 100%;
    height: 600px;
    margin-bottom: -10px;
    display:flex;   
    
}

.contact-me--container .contact-me{
      width: 50%;
      height: 400px;
      background-color: #121516;
      display: inline-block;
      margin: -50px auto;
      box-shadow: 0px 18px 18px 0 rgba(0, 0, 1, 2);
     
}

.contact-me div{
     margin: 10px;
}
.contact-me input, .projects-form input{
    width: 100%;
    height: 40px;
    color: whitesmoke;
    border-color: transparent;
    background-color: #1e2326;
    outline:none;

}

.contact-me input:hover{
    background-color: #293034;
    border-color: #6d00e1;
}

.contact-me .contact-me-container--mensaje{
      height: 120px;
      text-decoration: none;
}

.contact-me .submitButton{
    width: 15%;
    margin-left: 20px;
    background-color: #6d00e1;
    color: aliceblue;
    border-color: #6d00e1;
}

.contact-me .limpiar{
    width: 15%;
    margin-left: 20px;
    background-color: #0c090f;
    color: aliceblue;
    border-color: #6d00e1;
}
.all-projects{
    height: 1200px;
}

.upload-project--container{
    width: 100%;
    height: 1200px;
    background-color: #161a1d;
    display: flex;
    

}
.upload-project--container .projects-form{
     width: 50%;
     height: 500px;
     margin: 300px auto;
}

footer{
    width:100%;
    height: 130px;
    background-color: #111416;
    margin: 0px auto;
    padding-left: 100px;
    text-decoration: none;
    padding-top: 50px;
    font-size: 1.4rem;
    color:rgb(255, 255, 255);
    display: flex;
    ;
   
}

footer .div-col2{
    margin-left: 10%;
    
}

.burger{
    display: none;
    height: 30px;
    width: 35px;
    border-radius: 10%;
    background-color: #6d00e1;

}

.burger div{
    
    width: 25px;
    height: 2px;
    background-color: rgb(226,226,226);
    margin: 5px;
    
}

.projects{
    height: 1200px;
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 962px){
    .about-container{
        width: 100%;
        text-align: right;
    }
    .about--presentation-container .title{
        font-size: 2rem;
        font-weight: bold;
        font-weight: bold;
        color: whitesmoke;
        font-family: 'work sans' sans-serif;

   }
    
    .aboutme--presentation-container{
        margin-top: -280px;
    }
    .aboutme--presentation-container .about-me{
        font-size: 1.3rem;
        
    }

    .about-me--tools{
        min-width: 100%;
    }
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #1e2326;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        margin-left: 85%;
        cursor:pointer;
    }
    
}

.nav-active{
    transform: translateX(0%);

}


