
<div class="background-image" id="background-images"> 
<div class="about-container">
<div class="about--presentation-container">
<div class="title" id="titile">
     <h1>{{title}}</h1>
    </div>
<div class="subtitle">
     <h2>{{subtitle}}</h2>
    </div>

</div>
</div>
</div>

<div class="aboutme--presentation-container">
<article class="about-me">

    <h2>Sobre mí</h2>

    <p data-aos="fade-left">
       Soy una persona entusiasta, apasionado por la tecnología, la ciencia y la programación. Me considero autodidacta 
       y aprendo facilmente cualquier metodologia para poder solucionar los problemas que se presentan en los requerimientos de cualquier proyecto.
       Uno de mis mayores logros es ir a la luna y regresar en el mismo dia sin usar ningun cohete ni catapulta, unicamente con un 
       brownie de marihuana.
    </p>
</article>
  <div class ="about-me--tools">
        <div class="about-me--languages">
        <div class="java"></div>
        <div class="spring"></div>
        <div class="javascript"></div>  
        <div class="css"></div>  
        <div class="github"></div>
        </div>
    </div>
    <span class="about-me--laptop-logo"></span>
  </div>
  

 

 <app-create></app-create>
  <app-contact></app-contact>


